{
	"env": {
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"extends": [
		"@csimi/eslint-config",
		"plugin:react/recommended"
	],
	"plugins": [
		"react"
	],
	"settings": {
		"react": {
			"version": "latest"
		}
	}
}
